@import "reset.css";

:root {
  --white: rgba(255, 255, 255, 0.75);
  --border-white: rgba(255, 255, 255, 0.5);
  --background: linear-gradient(to top, #1f282c, #1f3036, #1f282c);
  --widget-background: linear-gradient(to top, #2e2f32, #203137);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* min-width: 50rem; 제거 시 알 수 없는 가로축 스크롤 오류가 발생, 원인 파악 못함 */
  min-width: 50rem;
  min-height: 100vh;
  padding-bottom: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: var(--background);
  position: relative;
}

.swal2-title {
  text-align: center !important;
  font-size: 1rem;
  font-weight: normal;
}

.swal2-input {
  border-color: var(--white);
  font-size: 1rem;
  text-align: center;
  color: var(--white);
}

.swal2-input:focus {
  outline: none;
  box-shadow: none;
}

.swal2-input::placeholder {
  opacity: 0.5;
}

.swal2-timer-progress-bar {
  background-color: rgba(255, 255, 255, 0.5);
}