<html>

<head>
    <title>Item Details</title>
    <link href="/static/css/styles.css" rel="stylesheet">
</head>

<body>
    <div>Echarts 테스트 해보기</div>
    <label for="symbolInput1">Symbol1 :</label>
    <input type="text" id="symbolInput1">
    <label for="symbolInput2">Symbol2 :</label>
    <input type="text" id="symbolInput2">
    <label for="symbolInput3">Symbol3 :</label>
    <input type="text" id="symbolInput3">
    <label for="symbolInput4">Symbol4 :</label>
    <input type="text" id="symbolInput4">
    <button id="symbolInputBtn"type="button">GO!</button>

    <div id="echart-test"></div>
    <script src="https://cdn.jsdelivr.net/npm/echarts@latest/dist/echarts.min.js"></script>
    <script src="/static/js/echartTest.js"></script>
</body>

</html>