<html>

<head>
    <title>Item Details</title>
    <link href="/static/styles.css" rel="stylesheet">
</head>

<body>
    <form action="/result" method="GET">
        <div class="search-form">
            <label for="text">(업데이트 성공)검색어 입력: </label>
            <input type="text" name="text" required>
        </div>
    </form>
</body>

</html>